<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/rib"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYProject"
        tools:targetApi="31">
        <activity
            android:name=".OthersActivity"
            android:exported="false" />
        <activity
            android:name=".KidneyActivity"
            android:exported="false" />
        <activity
            android:name=".CardiovascularActivity"
            android:exported="false" />
        <activity
            android:name=".DiabeticActivity"
            android:exported="false" />
        <activity
            android:name=".PregnantActivity"
            android:exported="false" />
        <activity
            android:name=".FullScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.FYProject.FullScreen" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".Topicalcreams"
            android:exported="false" />
        <activity
            android:name=".Homeremidies"
            android:exported="false" />
        <activity
            android:name=".OralMedicine"
            android:exported="false" />
        <activity
            android:name=".MainActivity9"
            android:exported="false" />
        <activity
            android:name=".MainActivity8"
            android:exported="false" />
        <activity
            android:name=".MainActivity7"
            android:exported="false" />
        <activity
            android:name=".MainActivity6"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>